DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/vnstock_db

AUTO_COLLECT_ON_STARTUP=true

AUTO_RUN_FOREVER=true
AUTO_SLEEP_SECONDS=8
AUTO_CYCLE_SLEEP_SECONDS=100
AUTO_MAX_RETRY=5

AUTO_SYMBOL_SOURCE=CUSTOM
AUTO_SYMBOL_LIMIT=0
AUTO_SYMBOLS=FPT,VNM,HPG,VCB,TCB,CTG,BID,MBB,ACB,SSI,VND,HCM,MWG,PNJ,GAS,PLX,VIC,VHM,VRE,MSN

AUTO_INTERVALS=1D
AUTO_START_DATE=2024-01-01
AUTO_END_DATE=

AUTO_COLLECT_OHLCV=true
AUTO_COLLECT_COMPANY=false
AUTO_COLLECT_FINANCE=false
AUTO_COLLECT_PRICE_BOARD=false
AUTO_COLLECT_INTRADAY=false