DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/binance_db

AUTO_COLLECT_ON_STARTUP=true

AUTO_SYMBOL_MODE=USDT
AUTO_SYMBOL_LIMIT=50

AUTO_INTERVALS=1m,5m,15m,1h
AUTO_START_DATE=2025-12-01T00:00:00
AUTO_END_DATE=
AUTO_CHUNK=month

AUTO_SLEEP_SECONDS=0.2
AUTO_SAVE_RAW=false
AUTO_REPEAT_MINUTES=0